/Library

*.sln

*.csproj

/Temp
/.vs
/Assets/RPG Character Animation Pack FREE
/Assets/RPG Character Animation Pack FREE.meta
/obj
/Assets/Temp
/Assets/unity-chan!
/Assets/ECS/character
/Assets/ECS/common
/Assets/ECS/s001
/Assets/ECS/ynz
/Assets/ECS/character.meta
/Assets/ECS/common.meta
