/Library
*.sln
*.csproj
/Temp
/.vs
/obj
/Bundle
/Dll
/Publish
/Assets/StreamingAssets
/Patch
/Assets/Temp
/Assets/Temp.meta
/.vscode
/Document/PackageReader/Logs
/Document/PackageReader/Library
/Document/PackageReader/obj
/Document/PackageReader/.vs
